<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.amplexor.imagemap-pdf">
  <feature extension="package.version" value="1.0.0" />
  <require plugin="org.dita.pdf2" />
  <feature extension="dita.conductor.transtype.check" value="imagemap-pdf" />
  <feature extension="dita.transtype.print" value="imagemap-pdf" />
  <feature extension="dita.conductor.target.relative" file="integrator.xml" />
</plugin>
